body {
    background-color: #1F2833;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
    flex-direction: column;
}

.userCard, .loginFormContainer{
    border: #66FCF1 solid 5px;
    border-radius: 1em;
    padding: 30px;
}

.inactive {
    display: none !important; 
} 
