<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1" />
        <title>Employee</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="css/homeUserStyle.css" />
        <link rel="stylesheet" href="./css/globalStyle.css" />
    </head>
    <body>
        <div>
            <h1>
                <strong>User</strong>
            </h1>
        </div>
        <div class="userCard">
            <!--     https://opentdb.com/api.php?amount=10&category=20&difficulty=hard&type=multiple-->
            <form id="questionSetupForm">
                <label>
                    Amount:<br />
                    <input
                        type="number"
                        value="amount"
                        max="50"
                        min="1"
                        required
                    />
                </label>
                <label>
                    Category:<br />
                    <select name="category" id="category">
                        <option value="">Any</option>
                        <option value="9">General Knowledge</option>
                        <option value="10">Books</option>
                    </select>
                </label>
                <label>
                    Difficulty:<br />
                    <select name="difficulty" id="difficulty">
                        <option value="">Any</option>
                        <option value="easy">Easy</option>
                        <option value="medium">Medium</option>
                        <option value="hard">Hard</option>
                    </select>
                </label>
                <label>
                    Type:<br />
                    <select name="type" id="type">
                        <option value="">Any</option>
                        <option value="boolean">True or False</option>
                        <option value="multiple">Multiple Choice</option>
                    </select>
                </label>
                <input type="submit" class="submit" />
            </form>
            <div id="questionContainer" class="inactive">
                <p id="questionText"></p>
                <p id="timeLeft"></p>

                <form id="questionForm">
                    <label>
                        <input
                            type="radio"
                            name="answer"
                            value="option1"
                            id="questionOne"
                            required
                        />
                    </label>
                    <label>
                        <input
                            type="radio"
                            name="answer"
                            value="option2"
                            id="questionTwo"
                            required
                        />
                    </label>
                    <label>
                        <input
                            type="radio"
                            name="answer"
                            value="option3"
                            id="questionThree"
                            required
                        />
                    </label>
                    <label>
                        <input
                            type="radio"
                            name="answer"
                            value="option4"
                            id="questionFour"
                            required
                        />
                    </label>
                    <input type="submit" class="submit" />
                </form>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
            crossorigin="anonymous"
        ></script>
        <script src="js/homeUserController.js"></script>
    </body>
</html>
